.\.venv\Scripts\python.exe : INFO  [alembic.runtime.migration] Context impl 
PostgresqlImpl.
At line:1 char:1
+ .\.venv\Scripts\python.exe -m alembic upgrade head --sql *> offline_m ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic....PostgresqlImpl. 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

INFO  [alembic.runtime.migration] Running upgrade  -> 0001_initial, initial 
schema ù 10 tables, 5 enums, constraints & indexes
CREATE EXTENSION IF NOT EXISTS pgcrypto;

CREATE TYPE order_item_status AS ENUM ('pending', 'cooking', 'ready', 'served', 'cancelled');

CREATE TYPE session_status AS ENUM ('open', 'closed', 'abandoned');

CREATE TYPE user_role AS ENUM ('staff', 'admin');

CREATE TYPE cancelled_by AS ENUM ('customer', 'staff', 'system');

CREATE TYPE staff_call_status AS ENUM ('pending', 'acknowledged');

CREATE TABLE restaurants (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    slug VARCHAR NOT NULL, 
    name VARCHAR NOT NULL, 
    phone VARCHAR, 
    address TEXT, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_restaurants_slug UNIQUE (slug)
);

CREATE TABLE restaurant_settings (
    restaurant_id UUID NOT NULL, 
    currency VARCHAR DEFAULT 'VND' NOT NULL, 
    logo_url VARCHAR, 
    timezone VARCHAR DEFAULT 'Asia/Ho_Chi_Minh' NOT NULL, 
    default_savory_minutes INTEGER DEFAULT 10 NOT NULL, 
    default_light_minutes INTEGER DEFAULT 5 NOT NULL, 
    session_timeout_hours INTEGER DEFAULT 6 NOT NULL, 
    kitchen_screen_requires_pin BOOLEAN DEFAULT true NOT NULL, 
    staff_call_cooldown_seconds INTEGER DEFAULT 60 NOT NULL, 
    report_sheet_id VARCHAR, 
    report_sync_cron VARCHAR DEFAULT '0 * * * *' NOT NULL, 
    bill_footer_note TEXT, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (restaurant_id), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE
);

CREATE TABLE users (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    role user_role NOT NULL, 
    email VARCHAR, 
    password_hash VARCHAR, 
    pin_hash VARCHAR, 
    display_name VARCHAR, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_users_restaurant_email UNIQUE (restaurant_id, email), 
    CONSTRAINT ck_users_role_credentials CHECK ((role = 'admin' AND email IS NOT NULL AND password_hash IS NOT NULL) OR (role = 'staff' AND pin_hash IS NOT NULL)), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE
);

CREATE TABLE tables (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    table_number VARCHAR NOT NULL, 
    qr_token VARCHAR NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_tables_qr_token UNIQUE (qr_token), 
    CONSTRAINT uq_tables_restaurant_number UNIQUE (restaurant_id, table_number), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE
);

CREATE TABLE menu_categories (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    name VARCHAR NOT NULL, 
    sort_order INTEGER DEFAULT 0 NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE
);

CREATE TABLE menu_items (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    category_id UUID, 
    name VARCHAR NOT NULL, 
    description TEXT, 
    price NUMERIC(12, 2) NOT NULL, 
    prep_time_minutes INTEGER NOT NULL, 
    is_available BOOLEAN DEFAULT true NOT NULL, 
    is_active BOOLEAN DEFAULT true NOT NULL, 
    image_url VARCHAR, 
    sort_order INTEGER DEFAULT 0 NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_menu_items_prep_time_nonneg CHECK (prep_time_minutes >= 0), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE, 
    FOREIGN KEY(category_id) REFERENCES menu_categories (id) ON DELETE SET NULL
);

CREATE TABLE table_sessions (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    table_id UUID NOT NULL, 
    status session_status DEFAULT 'open' NOT NULL, 
    opened_by UUID, 
    opened_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    last_activity_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    closed_at TIMESTAMP WITH TIME ZONE, 
    abandoned_at TIMESTAMP WITH TIME ZONE, 
    total_amount NUMERIC(12, 2), 
    PRIMARY KEY (id), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE, 
    FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
    FOREIGN KEY(opened_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE UNIQUE INDEX uq_one_open_session_per_table ON table_sessions (table_id) WHERE status = 'open';

CREATE INDEX ix_table_sessions_table_status ON table_sessions (table_id, status);

CREATE INDEX ix_table_sessions_status_activity ON table_sessions (status, last_activity_at);

CREATE TABLE orders (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    table_session_id UUID NOT NULL, 
    note TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE, 
    FOREIGN KEY(table_session_id) REFERENCES table_sessions (id) ON DELETE CASCADE
);

CREATE TABLE order_items (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    order_id UUID NOT NULL, 
    menu_item_id UUID NOT NULL, 
    name_snapshot VARCHAR NOT NULL, 
    price_snapshot NUMERIC(12, 2) NOT NULL, 
    prep_time_snapshot INTEGER NOT NULL, 
    quantity INTEGER NOT NULL, 
    note TEXT, 
    status order_item_status DEFAULT 'pending' NOT NULL, 
    requested_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    served_by UUID, 
    served_at TIMESTAMP WITH TIME ZONE, 
    cancelled_by cancelled_by, 
    cancelled_at TIMESTAMP WITH TIME ZONE, 
    cancel_reason VARCHAR, 
    PRIMARY KEY (id), 
    CONSTRAINT ck_order_items_prep_time_nonneg CHECK (prep_time_snapshot >= 0), 
    CONSTRAINT ck_order_items_quantity_positive CHECK (quantity > 0), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE, 
    FOREIGN KEY(order_id) REFERENCES orders (id) ON DELETE CASCADE, 
    FOREIGN KEY(menu_item_id) REFERENCES menu_items (id) ON DELETE RESTRICT, 
    FOREIGN KEY(served_by) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_order_items_order ON order_items (order_id);

CREATE INDEX ix_order_items_restaurant_status ON order_items (restaurant_id, status);

CREATE TABLE staff_calls (
    id UUID DEFAULT gen_random_uuid() NOT NULL, 
    restaurant_id UUID NOT NULL, 
    table_id UUID NOT NULL, 
    table_session_id UUID NOT NULL, 
    status staff_call_status DEFAULT 'pending' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    acknowledged_at TIMESTAMP WITH TIME ZONE, 
    acknowledged_by UUID, 
    PRIMARY KEY (id), 
    FOREIGN KEY(restaurant_id) REFERENCES restaurants (id) ON DELETE CASCADE, 
    FOREIGN KEY(table_id) REFERENCES tables (id) ON DELETE CASCADE, 
    FOREIGN KEY(table_session_id) REFERENCES table_sessions (id) ON DELETE CASCADE, 
    FOREIGN KEY(acknowledged_by) REFERENCES users (id) ON DELETE SET NULL
);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

COMMIT;

